<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<h3 class="text-white text-center red-danger-background">You need to create an account to continue with your order.</h3>
<%= render :partial => 'new_user' %>