<div class="login-page-styles">
  <div class="container login-card-margin">
    <div class="card login-card-style">
      <h3 class="text-center login-helpers">Edit Account</h3>
      <div>
        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
        
        <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
          <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
          <p>
            <%= f.submit Spree.t(:update), :class => 'btn btn-primary' %>
          </p>
        <% end %>
        
      </div>
    </div>
  </div>
</div>