<div class="text-center text-blue dark-grey-background">
  <% subscription = @order.subscriptions.find_by(variant: item.variant) %>
  <% if subscription %>
    <%= subscription.delivery_number %>
  <% else %>
    None
  <% end %>

  <% if subscription %>
    <%= subscription.frequency.title.capitalize %> Deliveries
  <% else %>
    Not Subscribed
  <% end %>
</div>