<div class="container">
	<div class="col-md-12 text-center">
		<br>
		<h1 class="text-white">Contact Us</h1>
		<hr>
		<p><strong> We'd love to hear from you. <br><br> You can get in touch via email.</strong></p>
		<br>
		<p> We'll get back to you within 24 hours. To cancel, please email us your request. </p>
		<br>

		<div class="row">
			<div class="col-md-12 contactemailbutton">
				<a href="mailto:support@mymissionarybox.com"></a>
				<div class="btn-group">
					<a href="mailto:support@mymissionarybox.com">
						<button type="button" class="btn btn-primary email-icon">
							<i class="fa fa-envelope"></i>
						</button>
					</a>
					<button type="button" class="btn email-icon-box">
						<a href="mailto:support@mymissionarybox.com">
							<p><strong class="align-email">support@mymissionarybox.com</strong></p>
						</a>
					</button>
				</div>
			</div>	
		</div>
	</div>
</div>