<section class="col-lg-12 step-by-step-area">
	<div class="container">
		<div class="row">
			<h1 class="col-12 text-center text-white headline">Simple. Quick. Stylish.</h1>
		</div>

		<div class="row">
			<div class="col-md-4 text-center">	
				<div class="img-responsive center-block howimage1"><%= image_tag("tie-icon.png", size: "67x100") %></div>
				<h2>Step 1</h2>
				<hr class="steps-hr-width">
				<p class="stepheader">You’ve hoped they’d call them on a mission… and they did! Congratulations! </p>
				<p class="stepsubheader">We’ve made keeping in touch and sending your love easy with monthly care packages and a personalized letter.</p>
				
			</div>
			<div class="col-md-4 text-center">
			<div class="img-responsive center-block howimage2"><%= image_tag("envelope.png", size: "100x67") %></div>
				<h2>Step 2</h2>
				<hr class="steps-hr-width">
				<p class="stepheader">Choose the plan that is best for you and your missionary.</p>
				<p class="stepsubheader">Longer subscriptions will increase the value</p>
				   				

			</div>
			<div class="col-md-4 text-center">
			<div class="img-responsive center-block howimage1"><%= image_tag("truck-icon.png", size: "100x67") %></div>

				<h2>Step 3</h2>
				<hr class="steps-hr-width">
				<p class="stepheader">Sign up and start sending the love! </p>
				<p class="stepsubheader">We will send you an email reminder each month to include a personalized letter with your gift.</p>
					   			
			</div>
		</div>
	</div>
</section>  	