<div class="homepage-background">
	<div class="main-img">
		<div class="container">
			<div class="row">
				<div class="text-outer">
					<div class="limit-min-max">
<!-- 	<video autoplay loop id="background-vide" muted plays-inline>
  <source src="assets/test.mp4" type="video/mp4">
</video> -->
						<h1>Keep your missionary looking sharp every month!</h1>
						
						<%= link_to "Create an Account to Get Started", signup_path, class: "btn btn-primary btn-style" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-container">
		<div class="row small-gutters card-alignment-style justify-content-xxl-center">
			<%= render 'home_products' %>
		</div>
	</div>

	<div class="sister-btn-styles">
		<button class="btn btn-primary sister-btn-styles2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><h2 class="dropdown-toggle">Accessories For Sister's Coming Soon!</h2></button>
		<div class="collapse" id="collapseExample">
		  <div class="card card-block sister-card-background">
			  <div class="row sister-toggle-style">

			    <div class="col-md-12">
			    	<%= image_tag("leggings.jpg", class: "img-size-sister") %>

				    <div class="text-white sister-text-over-img limit-min-max2">
				    	<h1>Sister Accessories Coming Soon!</h1>
				    	<h3>
				    		<ul style="list-style: none">
				    			<li>Tights/Leggings/Socks</li>
				    			<li>and More!</li>
				    		</ul>
				    	</h3>
				    </div>

			    </div>

			  </div>
		  </div>
		</div>
	</div>
</div>

